# requirements.txt

# Web API
fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.12
requests==2.32.3
pydantic==2.9.2

# Machine Learning
mlflow==2.22.1
tensorflow==2.18.0
pandas  # <-- ADICIONE ESTA
scikit-learn  # <-- ADICIONE ESTA

# Testing & Linting
pytest==8.3.3
pytest-asyncio==0.24.0
pycodestyle==2.12.1
black==24.8.0
locust==2.32.0